allow updater_app sysfs_devices_system_cpu:dir r_dir_perms;
allow updater_app sysfs_devices_system_cpu:file r_file_perms;
allow updater_app vendor_file:file rx_file_perms;
allow updater_app ion_device:chr_file rw_file_perms;
